<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
			<beans>
				
				<bean name="aObj" class="ai.jobiak.source.A"></bean>
		
				<bean name="b" class="ai.jobiak.usesource.B">
				
				<property name="a" ref="aObj"></property>
			
				</bean>
			
			</beans>